._unbxd_strike_through_container {
	margin: 2px;
}

._unbxd_original_price_container {
	margin: 2px;
}

._unbxd_item_discount_text {
	margin: 2px;
}
._unbxd_recs-slider {
    overflow:auto;
}
._unbxd_recs-slider-heading {
    display:block;
}
._unbxd_recs-slider__item {
	cursor: pointer;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
	scroll-snap-align: start;
	width: 100%;
}
._unbxd_recs-slider__item:first-of-type {
    margin-left:7px;
}
._unbxd_recs-slider__item:last-of-type {
    margin-right:0;
}
._unbxd_recs-slider__item img {
    margin-bottom:3px;width:inherit;
}
._unbxd_recs-slider-container {
	margin-top: 8px;
	overflow: auto;
	width: 100%;
	scroll-snap-type: x mandatory;
	overflow-x: scroll;
	display: grid;
	grid-template-columns: repeat(3, 100%);
}
._unbxd_recs-slider-container::-webkit-scrollbar {
	width: 0!important;
}
._unbxd_recs-slider-container {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
.unbxd-recs-slider {
    position:relative;
}
._unbxd_recs-slider-btn {
    background-color:#fff;
    border-width:0;
    border-radius:3px;
    box-shadow:-3px 0 6px -3px rgba(68,88,112,.3);
    cursor:pointer;
    height:65px;
    padding:0;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:30px;
}
._unbxd_recs-slider-btn:disabled {
    cursor:not-allowed;
    opacity:0.5;
}
._unbxd_recs-slider-btn img {
    padding:16px 5px;
}
._unbxd_rex-slider--prev {
    left:5px;
}
._unbxd_rex-slider--next {
    right:5px;
}
._unbxd_recs-slider__content {
    margin-top:5px;
    margin-bottom:0;
    width:inherit;
    overflow:hidden;
    font-stretch:normal;
    font-style:normal;
    text-align:center;
}
._unbxd_content--ratings .recs-star {
    height:15px;
    width:15px;
}
._unbxd_content--ratings .recs-star img{
    height:inherit;
    width:inherit;
    margin:0;
}
._unxbd_slider_hide{
    opacity:0;
}
